<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="מחובר - {{categoryName}}">

  <ion-pane "class="messaging-view">

    <ion-content class="content-stable" on-swipe-left="hideTime = false" on-swipe-right="hideTime = true">
      <button class="button" ng-click="openModal()" style="float:left">דווח!</button>
      <div class="clearfix"></div>
      <div ng-repeat="message in messages">
        <div ng-class="getMessageClass(message.sender)" class="chat-item">
          <div><b>{{message.text}}</b></div>
          <div>{{message.time | date:'HH:mm:ss'}}</div>
        </div>
      </div>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="כתבו הודעה" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()" style="padding-right: 21px">
        שלח
      </button>
    </ion-footer-bar>

  </ion-pane>
</ion-view>
