<ion-modal-view class="rtl">
  <ion-header-bar>
    <h1 class="title">תודה על המשוב!</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="list card">

        <div class="item item-avatar">
          <img src='https://openclipart.org/image/2400px/svg_to_png/225296/Red-Heart.png'>
          <h2>תודה!</h2>
          <p>נמשיך להשתפר ולעזור לאלו במצוקה</p>
        </div>

        <div class="item item-image">
          <img src="../img/Thank_you.jpg">
        </div>

        <a class="item item-icon-right assertive" href="#/tab/home">
          <i class="icon ion-paper-airplane"></i>
          תבחרו נושא
        </a>
        <div class="row">
          <div class="col text-center">
            <button class="button button-calm text-center" ng-click="closeModal()">
              סגור
            </button>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
