<ion-view view-title="תתחילו שיחה">
  <ion-content>
    <ion-list>
      <div class="list card">

        <div class="item item-avatar">
          <img src='../img/annonymous.png'>
          <h2>רוצים לדבר באנונימיות?</h2>
          <p>זה קל! תלחצו על הכפתור למטה</p>
        </div>

        <div class="item item-image">
          <img src="../img/Happy-smiling-teens.jpg">
        </div>

        <a class="item item-icon-right assertive" href="#/tab/home">
          <i class="icon ion-paper-airplane"></i>
          תבחרו נושא
        </a>

      </div>
    </ion-list>
  </ion-content>
</ion-view>
