<ion-view view-title="הגדרות פרופיל">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        הגדרות צאט
      </div>
      <ion-toggle ng-model="settings.chat.showFirstName">
        הראה שם פרטי
      </ion-toggle>
      <ion-toggle ng-model="settings.chat.allowNotifications">
        התראות פוש
      </ion-toggle>
      <li class="item item-toggle">
        HTML5
        <label class="toggle toggle-positive">
          <input type="checkbox" checked="">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div class="item item-divider">
        עדיפויות זיווגים
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          מין
        </div>
        <select>
          <option>גבר</option>
          <option selected>לא משנה לי</option>
          <option>נקבה</option>
        </select>
      </label>
      <div class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected="">Green</option>
          <option>Red</option>
        </select>
      </div>
    </ion-list>
    <div class="item item-divider" style="text-align: center; padding-right: 0; padding-left: 0;">
      יש לכם הצעה לשיפור?
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="שם בדוי" style="width: 100%; padding-right: 0;" class="text-center">
      </label>
      <label class="item item-input">
        <textarea placeholder="תגובה‎" style="width: 100%" class="text-center"></textarea>
      </label>
    </div>
    <div class="padding" ng-click="openModal()">
      <button class="button button-block button-assertive">Submit</button>
    </div>
  </ion-content>
</ion-view>
