<ion-view view-title="Happy Days">
  <ion-pane class="background-color-grey">
  <ion-content>
    <div class="card">
      <div class="item text-center item-text-wrap">
          קשה לכם? רוצים לדבר עם משהו שחולק את אותה בעיה? תבחרו נושא!
      </div>
    </div>
      <div class="list">
        <a class="item item-thumbnail-right" ng-repeat="category in categories"  ng-href='#'  ng-click='findChat(category)'  >
          <img src="{{category.pictureUrl}}">
          <h2>{{category.categoryName}}</h2>
          <p>{{category.description}}</p>
        </a>
      </div>
  </ion-content>
</ion-pane>
</ion-view>
