<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-icon-top tabs-color-active-positive">-->

  <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
  <!--<ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">-->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
  <!--<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">-->
    <!--<ion-nav-view name=""></ion-nav-view>-->
  <!--</ion-tab>-->


<!--</ion-tabs>-->


<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="התחל שיחה" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="צאט" icon="ion-chatbubble-working" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="הגדרות" icon="ion-ios-body-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
