/* Empty. Add your own CSS if you like */
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

*{
  font-family: 'Open Sans Hebrew', sans-serif;
}

.rtl {
  direction: rtl;
}

/*
.padding .card, .padding .list-inset {
  margin: 4px;
  height: 150px;


}*/
.has-tabs{ bottom: 60px !important; }
.tab-nav.tabs{ height: 74px !important; }
.has-header { top: 21px !important; }
.card, .list-inset { margin: 15px; }
.bar.bar-stable.bar-footer { bottom: 75px !important; }
.chat-item { background: #fafafa; box-shadow: 0 2px 0 #eee; border: 1px solid #e8e8e8; padding: 15px; color: #9e9e9e; margin: 10px; }
.bar.bar-positive .title {
  width: 100%;
  text-align: center;
}
.item-input {
  padding: 6px 0 5px 0px;
}

.title.title-center.header-item {
  font-size: 20px;
}

.background-color-grey {
  background-color: #fefefe !important;
}

.row-wrap {
  flex-wrap: wrap;
  display:-webkit-flex;
  -webkit-flex-flow: row wrap;
}

.margin-0 {
  margin: 0px !important;
}

.text-align-center {
  text-align: center;
}

/* Class Groups */
.card-custom {
  border-radius: 6px;
  box-shadow: 0px 0.5px 1px rgba(0,0,0,0.2);
}

.card-custom h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.card-custom p {
  color: #999;
  text-align: center;
}

.card-custom .item-divider {
  text-align: right;
  font-size: 13px;
  font-weight: 300;
  border-top: 1px solid #F3F3F3;
  background-color: #FAFAFA;
}

.otherSender {
  text-align: left;
}
